
.ipynb_checkpoints/2nd Level Domains by number of 3rd level domains-checkpoint.ipynb
.ipynb_checkpoints/Counting 3rd Level Domains - Fast-checkpoint.ipynb
.ipynb_checkpoints/Multiprocess with database test-checkpoint.ipynb
